USE [master]
GO
/****** Object:  Database [SaveModelData.Models.UniversityDBContext]    Script Date: 10/22/2022 4:49:13 PM ******/
CREATE DATABASE [SaveModelData.Models.UniversityDBContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaveModelData.Models.UniversityDBContext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SaveModelData.Models.UniversityDBContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaveModelData.Models.UniversityDBContext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SaveModelData.Models.UniversityDBContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaveModelData.Models.UniversityDBContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaveModelData.Models.UniversityDBContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/22/2022 4:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/22/2022 4:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[RegNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [RegNo], [Email]) VALUES (1, N'turan', N'123-574', N'turan@gmail.com')
INSERT [dbo].[Students] ([Id], [Name], [RegNo], [Email]) VALUES (2, N'zia', N'123-754', N'zia@gmail.com')
INSERT [dbo].[Students] ([Id], [Name], [RegNo], [Email]) VALUES (3, N'aziz', N'123-564', N'aziz@gmail.com')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
USE [master]
GO
