USE [master]
GO
/****** Object:  Database [UniversityDb]    Script Date: 10/22/2022 4:49:56 PM ******/
CREATE DATABASE [UniversityDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UniversityDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UniversityDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityDb]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/22/2022 4:49:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[RegNO] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Department] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [RegNO], [Email], [Address], [Department]) VALUES (2, N'asif', N'1234-7654', N'turan11@gmail.com', N'Azimpur ', N'cse')
INSERT [dbo].[Students] ([Id], [Name], [RegNO], [Email], [Address], [Department]) VALUES (4, N'aswqwe', N'1234-76544', N'turan434@gmail.com', N'Azimpur - 4350', N'cse')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
USE [master]
GO
